<p>calculator works!</p>
<table >
    <tr>
        <td>
            Enter Your MArk
        </td>
        <td>
            <input type="number" [(ngModel)]="n1">
        </td>
    </tr>
    <!-- <tr>
        <td>Enter Numer 2</td>
        <td><input type="number" [(ngModel)]="n2"></td>
    </tr> -->
</table>
<!-- <input type="button" value="ADD" (click)="add()">
<input type="button" value="Subtract" (click)="diff()"> -->
<input type="button" value="Submit" (click)="pass()">

<hr>
<h1 *ngIf=""> The SUM is {{s}}</h1>
<h1 *ngIf="view1"> The Difference is {{d}}</h1>
<h1 *ngIf="view">{{r}}</h1>
