
<table border="1">
    <thead>
        <tr>
            <td>NAME</td>
            <td>Price</td>
            <td>COMPANY</td>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let p of products; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.pr}}</td>
                    <td>{{p.co}}</td>
                    <td><input type="button" name="btn1" value="Add to cart" (click)="add(p)"></td>
            </tr>
    </tbody>
</table>
<hr>
<input type="button" name="btn3" value="reveal cart" (click)="show()" > <input type="button" name="btn3" value="Hide cart" (click)="hide()" >
<hr>
<table border="1" *ngIf="view">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>COMPANY</td>
    </tr>
    <tr *ngFor="let d of cart; let i = index">
            <td>{{i+1}}</td>
            <td>{{d.name}}</td>
            <td>{{d.pr}}</td>
            <td>{{d.co}}</td>
            <td><input type="button" name="btn1" value="Remove from cart" (click)="remove(i)"></td>
            
    </tr>
</table>