<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} ee paginte Aishwaryam!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/ahitler.jpg">
</div>
<app-header></app-header>
<!-- <app-data></app-data>
<app-cart></app-cart> -->
<!-- <app-login></app-login> -->
<!-- <app-name></app-name> -->

<app-calculator></app-calculator>


<!-- <ul> -->
  <!-- <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

